html{
	background-color:;
}
.nav{
			display: flex;
			background-color: ;
		}
		.nav_menu{
			list-style-type: none;
			display: flex;
			justify-content: flex-start;	
			width: 90%;

		}
		.nav_menu a{
			text-decoration: none;
		}
		.nav_menu li{
			display: inline-block;
			padding: 10px 20px;
		}
		.nav img{
				align-self: flex-start;
			}
		.nav_menu a:hover{
			background-color: deepskyblue;
			color: white;
		}

		.dropdown_nav{
			float: left;
			overflow: hidden;
		}
		.dropdown_content{
			display: none;
			position: absolute;
			background-color: whitesmoke;
			min-width: 150px;
			z-index: 1;

		}
		.dropdown_nav:hover .dropdown_content{
			display: block;
		}
		.dropdown_content a{
			color: inherit;
			display: block;
			text-align: left;
			padding: 5px 0px;
			font-size: inherit;
			font-family: inherit;
		}
		.dropdown_nav button{
			font-size: inherit;
			font-family: inherit;
			border: none;
			color: inherit;
			background-color: inherit;
		}

			.material-symbols-outlined {
			  font-variation-settings:
			  'FILL' 0,
			  'wght' 400,
			  'GRAD' 0,
			  'opsz' 48
			}

			input[type=checkbox]{
				display: none;
			}
			.hamburger {
				display: none;
				font-size: 24px;
				user-select: none;
			}


		@media only screen and (max-width: 700px){
			.menu { 
		display:none;
		position: absolute;
		background-color:whitesmoke;
		right: 0;
		left: 0;
		text-align: center;
		padding: 16px 0;
	}

	.menu li:hover {
		display: inline-block;
		background-color:deepskyblue;
		transition: 0.3s ease;
	}

	.menu li + li {
		margin-top: 12px;
	}

	input[type=checkbox]:checked ~ .menu{
		display: block;
	}

	.hamburger {
		display: block;
	}

	.dropdown {
		left: 50%;
		top: 30px;
		transform: translateX(35%);
	}

	.dropdown li:hover {
		background-color: whitesmoke;
	}
}
		}

		.img{

		}

		}
		div.text{
			float: left;
			width: 100%;
			height: 500px;
			background-color: ;
		}
		div.col1{
			float: Left;
			width: 100%;
			height: 50px;

		}
		
		div.col2{
			float: left ;
			width: 30%;
			height: 250px;
			background-color: ;
		}

		div.col3{
			float: left ;
			width: 5%;
			height: 250px;
			background-color: ;
		}


		
		div.col4{
			float: left ;
			width: 30%;
			height: 250px;
			background-color: ;
		}

		div.col5{
			float: left ;
			width: 5%;
			height: 250px;
			background-color: ;
		}
		div.col6{
			float: left ;
			width: 30%;
			height: 250px;
			background-color: ;
		}

		  }

		.footer{
			width: 100%;
			height: 200px;
			float: left;
			background-color: ;
		  }
		  .part1{
		  	float: left;
		  	width: 100%;
		  	height: 100px;
		  	background-color: ;
		  }
		  .part2{
		  	float: left;
		  	width: 15%;
		  	height: 250px;
		  	background-color: ;
		  }
		  .part3{
		  	float: left;
		  	width: 35%;
		  	height: 250px;
		  	background-color: ;
		  }

		  .par4{
		  	width: 35%;
		  	height: 250px;
		  	background-color: ;
		  }


			


			
			

		
